<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Disfruta de los animales mas exosticos de nuestro zoologico</p>
        <P>
            <a class="btn btn-primary btn-lg-1" role="button" [routerLink]="['/animales']">
                Ver Animales
            </a>
            <a class="btn btn-success btn-lg-1" role="button" [routerLink]="['/cuidadores']">
                Ver Cuidadores
            </a>
            <a class="btn btn-warning btn-lg-1" role="button" [routerLink]="['/contacto']">
                Contacta con Nosotros
            </a>
        </P>
    </div>
</div>


